* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  /* overflow: hidden; */
  overflow-x: hidden;
  overflow-y: auto;

  background: #fff;
}

.app-container {
  display: flex;
  min-height: 100vh;
  overflow: visible; /*hidden*/
  background: #fff;
}

.main-content {
  flex: 1;

  margin-left: 150px;
  min-height: 100vh;
  position: relative;
  overflow: visible; /*hidden*/
  /* overflow-x: auto; */
  background: none;
  padding: 0;
}

.container {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;

  padding-bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.top-section {
  position: relative;
  background: #f6f6f6;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
}
